# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Build
/dist/
/build/

# Docker
*.pid
docker/data/

# OS
.DS_Store
Thumbs.db

# Vite
frontend/dist/

# VSCode
.vscode/

# Database
backend/database/*.sql
backend/database/*.db
backend/database/*.sqlite

# Others
*.swp
*.swo
